@font-face {
  font-family: 'skyfont';
  src: url(fonts/skyfont);
}
@font-face {
  font-family: 'travel-next';
  src: url(fonts/travel-next.ttf);
}

h1 {
  font-family: 'travel-next';
}

.btn-primary.btn-primary {
  --bs-btn-bg: 	#FF3131;
  --bs-btn-border-color: #FF3131;
  --bs-btn-active-bg: #FF3131;

}

.lodging-form {
  font-family: 'travel-next';
}
.card-header.card-header {
  font-family: 'travel-next';
  font-size: 2rem;
}
.nav-link.nav-home {
  font-family: 'skyfont', serif;
  font-size: x-large;
}

.navbar-brand.nav-home {
  font-family: 'skyfont', serif;
  font-size: xx-large;
}


.dropdown-menu[data-bs-popper].dropdown {
  left: -100px;
}

.card.card {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 1000px;
  padding: 1rem;
  text-align: center;
  background-color: #f4f7f6;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 2);
  color: #222;
  flex: 0 0 100%;
  
}

.btm-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-family: 'skyfont', serif;
  font-size: x-large;
  color: #222;
}

.card-grid {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  align-items: flex-start;
}

.home-image {
  
  background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  
  min-height: 705px;
  min-width: 800px; 
	

  width: 100%;
  height: 100%;
	

  display: flex;
  align-items: center;
  justify-content: center; 

  
}



.container-home {
  
  /* display:flex;
  justify-content: center;
  align-items: center;
  padding-top: 25%; */
  /* margin-top: 200px; */
  text-align: center; 
  
    /* padding:0;
    margin:0;

    top:30%;
    left:6%; */
  /* width: 100%;
  height: 100%;  */
}

.home-image h1 {
  font-family: 'travel-next', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  font-size: 70px;
}

/* .form-container {
  position: fixed;
  border: #222;
  justify-content: center;
  width: 300px;
  top: 30%
  
} */

.navbar-brand.font-head {
  color:antiquewhite;
}

.form-label {
  color: black;
  display: flex;
  text-align: left;
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.location-page {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.location-page img {
  display: block;
  max-width:800px;
  max-height:800px;
  
  width: auto;
  height: auto;
  padding: 10px;
}

.location-page p {
  padding-left: 10px;
}